
{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>  
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

{% block content %}
<body>
    <nav>
            <a href="/review"><i class="material-icons">home</i></a>
        
    </nav>
	<div class="login1">
		<div class="login-screen1">
			<div class="app-title1">
				<h1>Login</h1>
            </div>
            {% if flag == -1 %}
            <div><font color="red1"><b>Username and Password combination doesn't match</b></font></div>
            {% endif %}
            <form action="/review/login" method="post">
                {% csrf_token %}    
			<div class="login-form1">
				<div class="control-group1">
				<input type="text" class="login-field1" value="" placeholder="username" id="login-name" name="username" pattern="[A-Za-z0-9]+">
				<label class="login-field-icon fui-user1" for="login-name"></label>
				</div>

				<div class="control-group1">
				<input type="password" class="login-field1" value="" placeholder="password" id="login-pass" name="password">
				<label class="login-field-icon fui-lock1" for="login-pass"></label>
				</div>
                
                <div style="margin-top:10px" class="form-group1">        
                        <div class="col-sm-12 controls1">
                          <div class="my1"><input type="submit" value="Login"></input></div>
                        </div>
                    </div>
                <a class="login-link1" href="#">Lost your password?</a>
                <div class="login-link1"> Don't have an account?<a class="login-link" href="signup">Join Us!</a></div>
            </form>
			</div>
		</div>
    </div>
</body>
{% endblock %}
</html>
