<html>
    <head>
        <title>
            Registering with CollReview
        </title>
    </head>

    <body>
        <h1>Register!!!</h1>

        {% if registered %}
        <strong>Thank You for Registering with us!!!</strong>
        Hope You have a great Experience<br/>

        <a href="/review/">Home</a><br/>

        {% else %}
        <strong>Register by filling the form</strong><br/>

        <form id="user_form" method="POST" action="/review/signup" enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" value="Signup"/>

        </form>
        {% endif %}
    </body>
</html>